# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/
contracts/node_modules
contracts/broadcast/*

# Docs
docs/

# Dotenv file
.env

# Node modules
!/node_modules
node_modules/*

# Package lock files
package-lock.json

# Yarn
.pnp.*
*/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# System files
.DS_Store
contracts/.DS_Store

# lib
contracts/lib/*