[profile.default]
src = "src"
out = "out"
libs = ["lib"]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
[remappings]
"ds-test/=lib/ds-test/src/"
"forge-std/=lib/forge-std/src/"